@import '../../scss/variables';

.movie-primary-wrapper {
  background: $color-medium 0% 25%/cover no-repeat;
  color: $color-light;

  .movie-primary-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    padding: $margin-default*5 $margin-default/2;
    text-shadow:
      0 0 1px $color-dark,
      0 1px 2px $color-dark,
      0 2px 4px $color-dark-67,
      0 4px 6px $color-dark-33;

    &:after {
      // background: -moz-linear-gradient(left, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.75) 33%, rgba(14, 14, 14, 0) 100%);
      // background: -webkit-linear-gradient(left, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.75) 33%, rgba(14, 14, 14, 0) 100%);
      // background: linear-gradient(to right, rgba(14, 14, 14, 0) 0%, rgba(14, 14, 14, 0.75) 33%, rgba(14, 14, 14, 0) 100%);
      background: -moz-radial-gradient(33% 50%, ellipse cover, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 67%);
      background: -webkit-radial-gradient(33% 50%, ellipse cover, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 67%);
      background: radial-gradient(ellipse at 33% 50%, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 67%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}