@import '../../scss/variables';

.movie-detail-wrapper {
  background: #fff;
  position: relative;
  z-index: 2;

  padding-bottom: $margin-default*2;
  padding-top: $margin-default*2;
  width: 100%;

  .movie-detail-container {
    margin: 0 auto;
    max-width: 960*$px;
    padding: $margin-default;
    width: 100%;

    .movie-detail-reviews {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: $margin-default/2;

      .section-item {
        .section-byLine {
          font-weight: $black;
        }
      }
    }

  }

  .return {
    padding: $margin-default;

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 768*$px) {
  .movie-detail-wrapper {
    .movie-detail-container {
      .movie-detail-reviews {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $margin-default;

        .section-header,
        .no-content {
          grid-column: span 2;
        }

        .section-item {
          border: 1px solid $color-medium-light;
          padding: $margin-default/2;

        }
      }
    }
  }
}

.recommended-wrapper {
  position: relative;
  z-index: 4;

  background: $color-primary-medium;
  width: 100%;

  .recommended-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: $margin-default/2;

    margin: 0 auto;
    max-width: 1366*$px;
    padding: $margin-default/2;
    width: 100%;

    header {
      color: $color-light;
      grid-column: span 1;
      margin-bottom: $margin-default;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 768*$px) {
  .recommended-wrapper {
    .recommended-container {
      header {
        text-align: left;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 32*$px;
          padding: $margin-default;
        }
      }
    }
  }
}