@import '../../scss/variables';

.movie-secondary-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $margin-default/2;
  position: relative;
  top: 0;
  left: 0;
  padding: $margin-default/2;
  z-index: 9;

  .movie-secondary-container {
    display: flex;
    flex-direction: column;

    background: #fff;
    border-radius: 4px;
    box-shadow:
      0 1px 2px $color-dark-19,
      0 2px 4px $color-dark-19,
      0 4px 6px $color-dark-19;
    padding: $margin-default/6;
    transform: translateY(-$margin-default*2);
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow:
        0 0 1px $color-dark-19,
        0 1px 2px $color-dark-19,
        0 2px 4px $color-dark-19;
      transform: translateY(-$margin-default*2 + 2*$px);
    }

    .movie-info-releaseDate {
      display: none;
    }

    .movie-info-tagline {
      line-height: 1.1;
    }

    .movie-info-description {
      display: none;
    }

    img {
      border-radius: 4px 4px 0 0;
      box-shadow: 0 0 2px 1px $color-dark-19;
      margin-bottom: $margin-default/3;
      width: 100%;
      height: auto;
    }

    .btn {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 640*$px) {

  .movie-secondary-wrapper {
    grid-template-columns: repeat(2, 1fr);

    .movie-secondary-container {
      padding: $margin-default/3;
    }
  }

}

@media only screen and (min-width: 1024*$px) {
  main {
    .movie-secondary-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (min-width: 1366*$px) {
  main {
    .movie-secondary-wrapper {
      margin: 0 auto;
      min-width: 1366px;
      max-width: 67%;

      .movie-secondary-container {
        padding: $margin-default/3;

        .movie-info-description {
          display: block;
        }
      }

    }
  }
}