@import '../../scss/variables';

.videos-wrapper {
  width: 100%;

  .videos-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: $margin-default/2;
    justify-items: center;

    margin: 0 auto;
    max-width: 1366*$px;
    padding: $margin-default*2 $margin-default/2;
    width: 100%;

    .videos-item {
      background: #fff;
      border-radius: 25*$px;
      box-shadow: $dropshadow;
      padding: $margin-default/2;
      text-align: center;

      img {
        border-radius: 15*$px 15*$px 0 0;
        height: auto;
        max-width: 640*$px;
        width: 100%;
      }

    }
  }
}

@media only screen and (min-width: 768*$px) {
  .videos-wrapper {
    .videos-container {
      grid-template-columns: repeat(2, 1fr);

      header {
        grid-column: span 2;
      }
    }
  }
}