@import '../../scss/variables';

.header-wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;

  background: $color-primary-medium;
  color: $color-light;
  line-height: 1;
  padding: $margin-default/3;

  .header-container {
    margin: 0 auto;
    max-width: 1366*$px;

    img {
      display: inline-block;
      vertical-align: baseline;
    }

    nav {
      display: block;
      float: right;
    }
  }
}

@media only screen and (min-width: 768*$px) {
  .header-wrapper {
    padding: $margin-default/2;

    .header-container {
      img {
        max-width: 90px;
        height: auto;
        vertical-align: middle;
        width: 100%;
      }
    }
  }
}