@import '../../scss/variables';

.header-wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;

  background: $color-dark;
  color: $color-light;
  line-height: 1;
  padding: $margin-default/3;

  .header-container {
    margin: 0 auto;
    max-width: 1366*$px;

    nav {
      display: block;
      float: right;
    }
  }
}