@import './scss/variables';
@import './scss/typography';

body,
html,
#root,
.App {
  font: 100%/1.5 $font-stack-body;
  height: 100%;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;

  .flex-wrapper {
    flex: 1 0 auto;

    position: relative;
    top: 0;
    left: 0;

    width: 100%;
  }
}

main {
  background: $color-medium-light;
  color: $color-dark;
  width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: $color-medium-light;
  color: $color-dark;
  cursor: pointer;
  font-family: inherit;
  font-weight: $bold;
  outline: 0;
  padding: $margin-default/3 $margin-default/2;
  text-transform: uppercase;
}

footer {
  background: $color-medium-dark;
  color: $color-medium-light;
  font-size: 11*$px;
  line-height: 1.25;
  text-align: center;
  padding: $margin-default/2;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $color-light;
  }
}

@media only screen and (min-width: 768*$px) {
  main {
    .movie-primary-container {
      padding: $margin-default*5 $margin-default;

      .movie-info-container {
        max-width: 67%;
      }

      .movie-info-title {
        font-size: 32*$px;
      }

      .movie-info-tagline {
        font-size: 24*$px;
      }

      .movie-info-description {
        font-size: 16*$px;
      }
    }

    .movie-info-description {
      display: block;
    }

    .movie-secondary-wrapper {

      .movie-info-description {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024*$px) {
  main {
    .movie-primary-container {
      margin: 0 auto;
      max-width: 1024*$px;

      background: top right no-repeat;
      background-size: 75%;
      background-position-y: 50%;

      &:after {
        background: linear-gradient(-270deg, rgba(112, 112, 112, 1) 33%, rgba(112, 112, 112, 0) 60%, rgba(112, 112, 112, 0) 80%, rgba(112, 112, 112, 1) 100%);
      }

      .movie-info-container {
        max-width: 50%;

      }
    }

    .movie-secondary-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (min-width: 1366*$px) {
  main {
    .movie-info-wrapper {
      max-width: 33%;
    }

    .movie-secondary-wrapper {
      margin: 0 auto;
      min-width: 1366px;
      max-width: 67%;

      .movie-secondary-container {
        padding: $margin-default/3;

        .movie-info-description {
          display: block;
        }
      }

    }
  }
}