// 1px = 0.0625rem;
$px: 0.0625rem;

// Margin/Padding/Gutter Default
$margin-default: 30 * $px;

// Font Stack
$font-stack-body: Muli,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$font-stack-display: Muli,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$font-stack-mono: 'Lucida Sans Typewriter',
'Lucida Console',
Monaco,
monospace,
monospace;

// Weights
$light: 300;
$regular: 400;
$medium: 400;
$semibold: 600;
$bold: 700;
$black: 900;

// Color Theme

// Colors - primary
$color-primary-light: hsl(252, 50%, 95%);
$color-primary-light-0: hsla(252, 50%, 95%, 0);
$color-primary-light-100: hsla(252, 50%, 95%, 1);

$color-primary-medium: hsl(250, 63%, 34%);
$color-primary-medium-0: hsla(250, 63%, 34%, 0);
$color-primary-medium-100: hsla(250, 63%, 34%, 1);

$color-primary-dark: hsl(244, 75%, 5%);
$color-primary-dark-0: hsla(244, 75%, 5%, 0);
$color-primary-dark-100: hsla(244, 75%, 5%, 1);

// Colors - accent
$color-accent-light: hsl(100, 70%, 85%);
$color-accent-medium: hsl(119, 70%, 50%);
$color-accent-dark: hsl(120, 70%, 15%);

// Colors - neutral
$color-light: #efefef;
$color-medium-light: #c4c4c4;
$color-medium: #707070;
$color-medium-100: rgba(112, 112, 112, 1);
$color-medium-50: rgba(112, 112, 112, .5);
$color-medium-dark: #333333;
$color-dark: #0e0e0e;
$color-dark-19: rgba(14, 14, 14, 0.19);
$color-dark-33: rgba(14, 14, 14, 0.33);
$color-dark-67: rgba(14, 14, 14, 0.67);

// Drop Shadow
$dropshadow: 0 0 1px $color-dark-67,
0 1px 2px $color-dark-67,
0 2px 4px $color-dark-33,
0 4px 6px $color-dark-19;