@import '../../scss/variables';

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 25*$px;
  background: $color-accent-medium;
  color: $color-dark;
  cursor: pointer;
  font-family: inherit;
  font-weight: $bold;
  outline: 0;
  padding: $margin-default/3 $margin-default/2;
  text-transform: uppercase;
}