@import '../../scss/variables';

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $color-accent-medium;
  border-radius: 25*$px;
  box-shadow: $dropshadow;
  background: $color-accent-medium;
  color: $color-dark;
  cursor: pointer;
  font-family: inherit;
  font-weight: $bold;
  outline: 0;
  padding: $margin-default/3 $margin-default/2;
  text-transform: uppercase;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-accent-light;
    color: $color-accent-dark;
    transform: translateY(1*$px);
  }

  &.button-light {
    background: $color-accent-light;
    border: 1px solid $color-accent-dark;
    color: $color-accent-dark;

    &:hover {
      background: $color-accent-medium;
      color: $color-dark;
    }
  }
}